<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Classification System</title>
    
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
    
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/lottie-player.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">FCS</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="index.html" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="model.html" class="nav-link px-2 link-dark">Models</a></li>
                <li><a href="predict.html" class="nav-link px-2 link-dark">Predict</a></li>
                <li><a href="about.html" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </header>
    </div>
    <main>
        <div class="pattern-square"></div>
        <div class="main-container">
            <div class="main-content">
                <h1 class="main-title">ResNet50</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                <div class="main-actions">
                    <button id="get-started" class="btn btn-success">Get Started</button>
                    
                </div>
            </div>
            <lottie-player src="anim/heart.json" background="transparent" speed="0.2"
                style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
        
        
        <div class="main-container">
            <div class="content-image">
                <img src="imgs/ResNet 50/arch 2.png" alt="Flower" class="img-fluid modal-img">
            </div>
            <div class="main-content">
                <h1 class="main-title">Flower Classification System</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                
            </div>
        </div>
        <div class="main-container">
            
            <div class="main-content">
                <h1 class="main-title">Flower Classification System</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                
            </div>
            <div class="content-image">
                <img src="imgs/ResNet 50/heatmap.png" alt="Flower" class="img-fluid modal-img">
            </div>
        </div>
        <div class="main-container">
            <div class="content-image">
                <img src="imgs/ResNet 50/acc.png" alt="Flower" class="img-fluid modal-img">
            </div>
            <div class="main-content">
                <h1 class="main-title">Flower Classification System</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                
            </div>
        </div>
        <div class="main-container">
            
            <div class="main-content">
                <h1 class="main-title">Flower Classification System</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                
            </div>
            <div class="content-image">
                <img src="imgs/ResNet 50/loss.png" alt="Flower" class="img-fluid modal-img">
            </div>
        </div>

        <div class="main-container">
            <div class="content-image">
                <img src="imgs/ResNet 50/param.png" alt="Flower" class="img-fluid modal-img">
            </div>
            <div class="main-content">
                <h1 class="main-title">Flower Classification System</h1>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
                
            </div>
        </div>
        
    </main>


    <footer class="footer text-center bg-light">
        © Copyright <span id="demo"></span> <span class="brand">FCS. </span> All Rights Reserved.
        <script>
            date = new Date();
            document.getElementById("demo").innerHTML = date.getFullYear();
        </script>
    </footer>
    <script src="assets/js/script.js"></script>
</body>

</html>