<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Classification System</title>
    
    <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
    
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="assets/js/lottie-player.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>
</head>

<body>
    <div class="container">
        
    </div>
    <main>
        <div class="pattern-square"></div>
        <div class="main-container">
            <div class="main-content">
                <h1 class="main-title">Pushp</h1>
                <h3 class="main-title">Flower Classification System</h3>
                <p class="main-description">A simple web application that uses machine learning to classify flowers.</p>
               
            </div>
            <lottie-player src="anim/heart.json" background="transparent" speed="0.2"
                style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
        <div class="loading-spinner">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <span class="loading-text">Loading...</span>
        </div>
    </main>
    <script src="assets/js/script.js"></script>
</body>

</html>